:root {
    --primary: #1888ff;
  }

  .btn__primary {
    background-color: var(--primary);
    color: #242424;
    border: 2px solid var(--primary);
    border-radius: 2px;
    outline: none;
    cursor: pointer;

  }
  
  .btn__outline {
    background-color: transparent;
    color: #fff;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
   
  }

  .btn__medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn__large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn__large:hover ,
  .btn__medium:hover{
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
  
