.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 20px;
    margin-top: 30px;
}
.image{
    overflow: hidden;
    width: 100%;
    height: 300px;  
}
img{
   width: 100%;
   height: 300px;
   position: relative;
   transition: all 0.2s linear;
}
img:hover{
    transform: scale(1.1);

}
img::after{
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.cards-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
justify-content: center;
align-items: center;
margin-top: 50PX;

 
}
.card-item {
    width: 400px;
    height: 400PX;
    position: relative;
    text-decoration: none;
    margin: 10px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  overflow: hidden;
}
h5{
    position: absolute;
    top: 272px;
    left: 10px;
  
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
    padding: 6px 8px;

}
.text{
    padding: 15px;
    color: black;
    font-size: 18px;
}
@media (max-width:1024px) {
    .card-item {
        width: 360px;
    }
}
@media (max-width:760px) {
    .card-item {
        width: 270px;
    }
    h4{
        font-size: 15px;
    }
}




